/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Montserrat';
$default-color: Gray; 
$default-background: black;

/*Header Buttons*/
$button-color1: #855607;
$button-color1-hover: rgb(209,136,10); 

/*Chart colors*/
$circ-color: rgb(132,22,6)/*#D63510*/; 
$circ-color-hover: #B11E07;

$tooltip-color: black;
$tooltip-background: red;


/*******************STYLES****************************************************************/

body {
	font-family: $default-font;
	color: $default-color;
}


/*Header styling*/

h2#title {
	font-size: 32px;
}

/*Canvas container*/

div#scatter-div {
    display: inline-block;
    position: relative;
    width: 92%;
    height: 80%;
    vertical-align: top;
    overflow: hidden;
}

/*Dots*/

circle.dots {
	opacity: 0.75;
}

/*Axes*/

.xaxis path, .xaxis line,
.yaxis path, .yaxis line {
	fill: none;
	stroke: $default-color;
	shape-rendering: crispEdges;
}

.xaxis text, .yaxis text {
	fill: $default-color;
	font-family: $default-font;
	font-size: 12px;
}



/*Tooltips*/


/******************************************Tooltip Styling. Edited from the original 
http://rawgit.com/Caged/d3-tip/master/examples/example-styles.css*************************************/


.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  background: $tooltip-background;
  color: $default-color;
  border-radius: 0px;
  pointer-events: none;
}

p#tipbody {
	color: rgb(209,136,10);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: $tooltip-background;
  position: absolute;
  pointer-events: none;
}

/*Info on tip directions: http://jsfiddle.net/deanmalmgren/eMPdu/ */

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

