/*Hattori Hanzo font
@font-face {
  font-family: 'District';
  src: url("/fonts/district/district_thin_pro/DistProTh.otf") format("opentype");
}*/

/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Montserrat';
$default-color: rgb(248,232,207); 
$default-background: black;

/*Header Buttons*/
$button-color1: #855607;
$button-color1-hover: rgb(209,136,10); 

/*Chart colors*/
$bar-color: rgb(132,22,6)/*#D63510*/; 
$bar-color-hover: #B11E07;

$tooltip-color: black;
$tooltip-background: #858585;



/*Starting with old CSS styles here*/

/***********************SCROLLING BARS**************************************/

body {
	background-color: $default-background;
	color: $default-color;
	font-family: $default-font;
}

div#titlediv {
	font-size: 20px;
	margin-left: 10px;
	margin-top: 0px;
	display: inline;
}

div#titlediv p {
	margin-top: 0px; 
	margin-bottom: 0px;
	/*Overrides obese webkit margins*/
}

div#buttonsdiv {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}

div#buttonsdiv button {
    border-radius: 18px;
    margin-bottom: 10px;
    font-family: $default-font;
    font-size: 14px;
    color: $default-color;
    background-color: $button-color1;
    border: none;
    height: 28px;
    width: 189px;
    /*transition-property: background-color;*/
	transition-duration: 0.25s;
	transition-timing-function: linear;
   
}

/*Button hover*/

div#buttonsdiv button:hover {
	background-color: $button-color1-hover;
	
}

/*Bars Viz*/

div#barsdiv {
	width: 90%;
}

rect.bars {
	fill: $bar-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

rect.bars:hover {
	fill:$bar-color-hover;
}

text.loclabels,
text.valuelabels {
	alignment-baseline: before-edge;
	font-family: $default-font;
	font-size: 12px;
	fill: $default-color;
	opacity: 0.9;
	pointer-events: none;
}



/*Bars Viz Axis, g element lets us target anything 
within the xaxis class*/

.xaxis path,
.xaxis line {
	fill: none;
	stroke: $default-color;
	shape-rendering: crispEdges;
}

.xaxis text {
	fill: $default-color;
	font-family: $default-font;
	font-size: 12px;
}

/*Svg tooltip*/

#tooltip {
	text-anchor: middle;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
	fill: blue;
}


/*Div Tooltip

div#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	opacity: 0.8;
	background-color:$tooltip-background;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	pointer-events: none;
}

div#tooltip.hidden {
	display: none;
}

p#toolbody {
	font-size: 12px;
	margin: 0px;
	font-family: $default-font;
}*/
