/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Century Gothic';
$default-color: white; 
$page-bkgd: #1A1F1E; //"night sweat"

/*Nav*/
$button-color: #3e3e3e; 
$button-bkgd: #e0b524; 

/*Info div*/
$info-bkgd: #464646;

/*Toolip*/
$tip-bkgd: rgba(75,75,75,0.8);
$tip-color: white;

/*Map elements*/
$state-bnd: #ccc4c4;
// $state-bnd: #1A1F1E;

/*******************STYLES****************************************************************/

body {
	font-family: $default-font;
	color: $default-color;
  background-color: $page-bkgd;
}

/*Header styling*/

div#header-row {
  height: 6em;
  padding: 2em 4em 4em 6em;
}

div#nav {
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

div.chart-title {
  font-size: 2.5em;
}

//Buttons

#button-div {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

a.choice {
    display: inline-block;
    color: $button-color;
    background-color: $button-bkgd;
    width: 10em;
    padding: 8px 20px;
    margin: 0px 0px 4px 0px;
    text-align: center;
    text-decoration: none;
    /*inspired by materialize css*/
    webkit-user-select: none;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

//Info box (not currently in use)

#info-div {
  display: inline-block;
 // background-color: $info-bkgd;
  width: 46em;
}

/*Canvas container*/

div#map-div {
  height: 100%;
} 

/*Map elements*/

.state-boundaries {
  fill: none;
  // stroke: $state-bnd;
  stroke: transparent;
  stroke-linejoin: round;
  opacity: 1;
}

/*Legend*/

text.legendTitle {
  fill: white;
}

text.label {
  fill: white;
}

/*Tooltips*/
#map-tip {
  position: absolute;
  background-color: $info-bkgd;
  padding: 0px 10px 0px 10px;
}

.tip-val {
  font-size: 2em;
  margin-bottom: 0px;
}

