/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Century Gothic';
$default-gray: #F7F7F7; 
$page-background: #1A1F1E; //"night sweat"
$axis-color: gray;


/*******************STYLES****************************************************************/

body {
	font-family: $default-font;
	color: $default-gray;
  background-color: $page-background;
}


a:focus, a:hover, a:active, a:visited {
  /*Override bootstrap blue text decoration on a hover*/
  text-decoration:none !important;
  /*default text styling*/
  color: $button-color2;
}




/*Canvas container*/
 
div#donut-div {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 60%;
    vertical-align: top;
    overflow: hidden;
}

div#line-div {
    display: inline-block;
    position: relative;
    width: 66%;
    height: 60%;
    vertical-align: top;
    overflow: hidden;
}



/*Donut components*/

//ttheodore@anaheim.net

.arc-path {

  fill: none;
  //stroke: transparent;
  //shape-rendering: crispEdges;
}


//Line components

.path {
  fill: none;
  stroke-width: 0.2em;
}

//Axes

.axis path, .axis line {
  fill: none;
  stroke: $axis-color;
}

.axis text {
  fill: $axis-color;
  font-size: 1.4em;
  font-family: $default-font;
}


// DONUT Tooltips

.title-display {
  color: $default-gray;
  font-size: 22px;
  font-weight: bold;
}

.data-display {
  color: $default-gray;
  font-size: 18px;
  line-height: 32px;
  margin-top: -18px;
}

div.donut-tip { 
    text-align: center;
    font-family: $default-font;
    // width: auto;
    height: auto;
    padding: 20px;
    margin: 6px;
    font-size: 16px;
    background: transparent;
    border: 0px;
    -webkit-transform: translate(-45%,-50%);
    // margin-left: 68px;
    // margin-top: -48px;
    pointer-events: none;     
}

//LINE TOOLTIP

div#line-tip {
  position: absolute;
  background-color: $line-tip-bkgd;
  padding: 10px 10px 0px 10px;
  margin-left: 56.5px;
  margin-top: -19px;
}

div#line-tip:after {
    border-top: 16px solid $line-tip-bkgd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    left: 0%;
    margin-left: 30px;
    width: 0;
    height: 0;
    pointer-events: none;
}


//Media queries

@media (max-width: 600px) {
  div#donut-div {
    width: 100%; /*overrides bootstrap forcing lines below donut */
    height: 50%; 
  }

  div#line-div {
    width: 100%; /*overrides bootstrap forcing lines below donut */
    height: 50%; 
  }

}