/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Montserrat';
$default-color: #F7F7F7; 
$page-background: #1A1F1E; //"night sweat"
//#18071E;


