/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Montserrat';
$default-color: #F7F7F7; 
$page-background: #1A1F1E; //"night sweat"
//#18071E;

/*Dropdown colors*/
$base : white; //text color for dropdown header
$flat: #791636; //backgound/highlight color
$dark: gray; //dropdown text color

//teal #1a614d
//magenta #791636

/*Dropdown mixins*/
@mixin size{
  padding: 7px 10px;
  width: 14em;
}

@mixin position{
  margin-left: -10px;
}


/*Dot colors*/
$dot-color: rgb(132,22,6)/*#D63510*/; 
$dot-color-hover: #B11E07;

/*Tooltip colors*/
$tooltip-head-color: white;
$tooltip-color: white;
$tooltip-background: #791636;

//FFB627

/*******************STYLES****************************************************************/

body {
	font-family: $default-font;
	color: $default-color;
  background-color: $page-background;
  //background-image: url(images/bug_yellow_large.jpg);
}


/*Header styling*/

h2#chart-title {
	font-size: 32px;
  margin-left: 1em;
  margin-bottom: 1em;
}

/*Canvas container*/
 
div#scatter-div {
    display: inline-block;
    position: relative;
    width: 92%;
    height: 80%;
    vertical-align: top;
    overflow: hidden;
}

/*Axes*/

//Axes lines

.xaxis path, .xaxis line,
.yaxis path, .yaxis line {
	fill: none;
	stroke: $default-color;
	shape-rendering: crispEdges;
}

//Axes text elements 

.xaxis text, .yaxis text {
	fill: $default-color;
	font-family: $default-font;
	font-size: 1em;
}

//Axes labels

.x-label, .y-label {
  font-size: 1.2em; 
  fill: $default-color;
  font-family: $default-font;
}


/*Guidelines*/

.guide line {
  /*fill: $sdefault-color;*/
  /*stroke: $tooltip-background;*/
  stroke-width: 1;
  shape-rendering: crispEdges;
}


/*Dropdowns - http://codepen.io/keukenrolletje/pen/ILvze*/


a, a:hover, a:focus {
  text-decoration: none; 
  color: inherit;
}

ul li{
  list-style: none;
}

#dropdown-left {
  margin-left: 3.33em;
  margin-right: 0.33em;
}

.dropdown {
  padding: 7px 10px;
  width: 10em;
  background-color: $flat;
  text-align: center;
  float: left; //Added for side by side dropdowns
}

.dropdown .top{
  color: $base;
}

.dropdown li ul li:hover{
  color: $base;
  background-color: darken($flat, 5%);
  @include size;
  @include position;
}

.dropdown li ul li{
  @include size;
  @include position;
  color: $dark;
  border-bottom: 1px solid darken($base, 5%);
}

.dropdown li ul li:first-child{
    margin-top: -7px;
}

.dropdown li .dropdown-box{
  height: 0;
  overflow: hidden;
  display: none;
  background-color: $base;
  width: 100%; 
  left: 0px;
  top: 34px;
  position: absolute;
  bottom: -15px;
  border-top: 6px solid $page-background;
  padding: 0;
  @include size;
}


// .dropdown:hover {
//   animation: box 0.25s ease;
// }

.dropdown:hover .dropdown-box, 
.dropdown li:active .dropdown-box {
  display: inline-block;
  background-color: $base;
  position: absolute;
  animation: box 0.25s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 999;
}


@keyframes box {
  from {height: 0;}
  to {height: 285;}
}


/*Sidebar made from a d3-tips*/


/******************************************Tooltip Styling. Edited from the original 
http://rawgit.com/Caged/d3-tip/master/examples/example-styles.css*************************************/


.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  background: $tooltip-background;
  color: $tooltip-color;
  border-radius: 0px;
  pointer-events: none;
  opacity: 0.9;
  box-shadow: 1px 1px 2px black;
}

p#tiphead {
	color: $tooltip-head-color;
	font-size: 1.5em;
	margin-top: 10px;
}

p.tip-body {
	color: $tooltip-color;
}

p.tip-subhead {
	color: $tooltip-head-color;
	margin-bottom: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: $tooltip-background;
  position: absolute;
  pointer-events: none;
  opacity: 0.8;
}

/*Info on tip directions: http://jsfiddle.net/deanmalmgren/eMPdu/ */

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
  /*removing tip carrot*/
  display: none;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

