/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Century Gothic';
$default-color: white; 
$page-background: #1A1F1E; //"night sweat"

/*Dropdown colors*/
$button-color1: white; //text color for dropdown header
$button-color2: #1A1F1E; //text color for dropdown content
$button-bkgd1: #035435; //dropdown button bkgd
$button-bkgd2: rgba(247,247,247,0.8);//dropdown li bkdg color
$button-bkgd-hghlt: rgba(187,187,187,0.8);//dropdown li bkgkd highlight color

/*Toolip - line*/
$tip-bkgd: rgba(75,75,75,0.8);
$tip-color: white;


/*******************STYLES****************************************************************/

body {
	font-family: $default-font;
	color: $default-color;
  background-color: $page-background;
  //background-image: url(images/bug_yellow_large.jpg);
}


/*Header styling*/

h2#chart-title {
	font-size: 3em;
  margin-left: 1em;
  margin-bottom: 0em;
}

/*Dropdowns - http://cssdeck.com/labs/pure-css3-smooth-drop-down-menu*/

#primary_nav_wrap {
  margin-left: 3em;
}

nav ul {
  -webkit-font-smoothing: antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12%;
    display: inline-block;
    text-align: center;
}
nav li {
    background-color: $button-bkgd1;
    color: $button-color1;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 25%;
}


nav a {
    display: block;
    font: 16px/50px $default-font;
    padding: 0 25px;
    color: $button-color2;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

a#dropdown-title {
  color: $button-color1;
}

nav li:hover a {
    // background-color: $button-bkgd2;
}
nav li ul {
    left: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
    border-top: 6px solid $page-background;
}
nav li ul li {
    float: none;
    width: 100%;
    background-color:$button-bkgd2;
    color: $button-color2;
}

nav li ul a:hover {
    background: $button-bkgd-hghlt;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​

a:focus, a:hover, a:active, a:visited {
  /*Override bootstrap blue text decoration on a hover*/
  text-decoration:none !important;
  /*default text styling*/
  color: $button-color2;
}


/*Canvas container*/
div#map-div {
  width: 100%;
  height: 100%;
} 
