/*Hattori Hanzo font
@font-face {
  font-family: 'District';
  src: url("/fonts/district/district_thin_pro/DistProTh.otf") format("opentype");
}*/

/*Montserrat font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Theme*/
$default-font: 'Montserrat';
$default-color: rgb(248,232,207); 
$default-background: black;

/*Header Buttons*/
$button-color1: #855607;
$button-color1-hover: rgb(209,136,10); 

/*Chart colors*/
$bar-color: rgb(132,22,6)/*#D63510*/; 
$bar-color-hover: #B11E07;

$tooltip-color: black;
$tooltip-background: #858585;


/***********************HTML Page**************************************/

body {
	background-color: $default-background;
	color: $default-color;
	font-family: $default-font;
}

div#titlediv {
	font-size: 20px;
	margin-left: 10px;
	margin-top: 0px;
	display: inline;
}

div#titlediv p {
	margin-top: 0px; 
	margin-bottom: 0px;
	/*Overrides obese webkit margins*/
}

div#buttonsdiv {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}

div#buttonsdiv button {
    border-radius: 18px;
    margin-bottom: 10px;
    font-family: $default-font;
    font-size: 14px;
    color: $default-color;
    background-color: $button-color1;
    border: none;
    height: 28px;
    width: 189px;
    /*transition-property: background-color;*/
	transition-duration: 0.25s;
	transition-timing-function: linear;
   
}

/*Button hover*/

div#buttonsdiv button:hover {
	background-color: $button-color1-hover;
	
}

/*override silly blue outline on click*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}


/******Responsive SVG******************************************************/

/**************************************************************Bars Viz********/

div#barsdiv {
    display: inline-block;
    position: relative;
    width: 92%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

rect.bars {
	fill: $bar-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;

}

rect.bars:hover {
	fill:$bar-color-hover;
}

text.loclabels {
	/*display: none;*/
}

text.loclabels,
text.valuelabels {
	alignment-baseline: before-edge;
	font-family: $default-font;
	font-size: 12px;
	fill: $default-color;
	opacity: 0.9;
	pointer-events: none;
}



/*Bars Viz Axis, g element lets us target anything 
within the xaxis class*/

.xaxis path,
.xaxis line {
	fill: none;
	stroke: $default-color;
	shape-rendering: crispEdges;
}

.xaxis text {
	fill: $default-color;
	font-family: $default-font;
	font-size: 12px;
}

/*Svg tooltip*/


/******************************************Tooltip Styling. Edited from the original 
http://rawgit.com/Caged/d3-tip/master/examples/example-styles.css*************************************/


.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: $default-color;
  border-radius: 0px;
  pointer-events: none;
}

p#tipbody {
	color: rgb(209,136,10);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/*Info on tip directions: http://jsfiddle.net/deanmalmgren/eMPdu/ */

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}