/*Bubbles*/

circle.bubbles {
	
	opacity: 0.8;
}

/*Axes*/

.xaxis path, .xaxis line, 
.yaxis path, .yaxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
	font-family: 'Arial';
	font-size: 12px;
}