//////////////////////////////////////
// Body
//////////////////////////////////////
body {
  padding:0px;
  font-weight:400;
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  overflow:hidden;
  font-feature-settings: "liga", "kern";
  letter-spacing: 0.2px;
}

//////////////////////////////////////
// Base Typo
//////////////////////////////////////
h1,h2,h3,h4,h5,h6 {
  font-family: $secondary-font-family;
  font-weight:300;
}

h1, h2, h3 {
  font-weight:100;
}

.wrapper-default, .wrapper-light, .wrapper-lightest, .wrapper-lighter {
  h1,h2,h3,h4,h5,h6 {
    color:#000;
  }
}
.wrapper-dark, .wrapper-darker, .wrapper-darkest,  .wrapper-accent {
  h1,h2,h3,h4,h5,h6 {
    color:#fff;
  }
}

h5, h6 {
  font-weight:400;
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
  color: $accent-color;
  border:1px solid $accent-color;
  padding: $font-size-base/2 $font-size-base;
}

.subheading-warning {
  text-transform: uppercase;
  color: $brand-warning;
  border:1px solid $brand-warning;
  padding: $font-size-base/2 $font-size-base;
}

.wrapper-accent .subheading {
  color:$accent-text;
  border:1px solid $accent-text;
}

.colored {
    color: $accent-color;
}

.text-center blockquote {
  border:none;
}

.font-sm{
  font-size:.875em;
}

//////////////////////////////////////
// Wrapper sizes and paddings
//////////////////////////////////////
.wrapper {
  padding: $grid-gutter-width 0px;
}

.wrapper-xs {
  padding-top: ($grid-gutter-width/2);
  padding-bottom: ($grid-gutter-width/2);
}

.wrapper-sm {
  padding-top: ($grid-gutter-width/1.5);
  padding-bottom: ($grid-gutter-width/1.5);
}

.wrapper-md {
  padding-top: ($grid-gutter-width);
  padding-bottom: ($grid-gutter-width);
}

.wrapper-lg {
  padding-top: ($grid-gutter-width*1.75);
  padding-bottom: ($grid-gutter-width*1.75);
}

.wrapper-xl {
  padding-top: ($grid-gutter-width*3);
  padding-bottom: ($grid-gutter-width*3);
}

.wrapper-xxl {
  padding-top: ($grid-gutter-width*5);
  padding-bottom: ($grid-gutter-width*5);
}

.wrapper-xxxl {
  padding-top: ($grid-gutter-width*8);
  padding-bottom: ($grid-gutter-width*8);
}

.wrapper-50vh {
height:50vh;
}

.wrapper-75vh {
height:75vh;
}

.wrapper-100vh {
height:100vh;
}

.wrapper-no-padding {
  padding:0px;
}

.wrapper-no-padding-top {
  padding-top:0px;
}

.wrapper-no-padding-bottom {
  padding-bottom:0px;
}

//////////////////////////////////////
// Wrapper background and text colors
//////////////////////////////////////
.wrapper {
  background-color: $default-color;
  position:relative;
}

.wrapper-default {
  background-color: $default-color;
  color: $default-text;
}

.wrapper-contrast {
  background-color: $contrast-color;
  color: $contrast-text;
}

.wrapper-accent {
  background-color: $accent-color;
  color: $accent-text;
}

.wrapper-light {
  background-color: $light-color;
  color: $light-text;
}

.wrapper-lighter {
  background-color: $lighter-color;
  color: $lighter-text;
}

.wrapper-lightest {
  background-color: $lightest-color;
  color: $lightest-text;
}

.wrapper-dark {
  background-color: $dark-color;
  color: $dark-text;
}

.wrapper-darker {
  background-color: $darker-color;
  color: $darker-text;
}

.wrapper-darkest {
  background-color: $darkest-color;
  color: $darkest-text;
}

.wrapper-transparent {
  background:none;
  color: lighten($body-bg, 50%);
}

//////////////////////////////////////
// Other Wrapper modifier
//////////////////////////////////////
.wrapper-fixed {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  display: block;
  z-index: 100;
}

.wrapper-pulled-left {
  margin-left:-20000px;
  padding-left:(20000-($grid-gutter-width/2));
  overflow: hidden;
}

.wrapper-pulled-right {
  margin-right:-20000px;
  padding-right:(20000-($grid-gutter-width/2));
  overflow: hidden;
}

.wrapper-overflow-hidden {
  overflow: hidden;
}

.wrapper-half-left::before {
  content:"";
  top:0;
  left:0;
  position:absolute;
  width:50%;
  height:100%;
  background-position:center center;
}

.wrapper-half-right::before {
  content:"";
  top:0;
  right:0;
  position:absolute;
  width:50%;
  height:100%;
  background-position:center center;
}

//////////////////////////////////////
// Images
//////////////////////////////////////

// The Adventurers images
#bck-img1.wrapper-half-left::before {
  background-image: url(../img/image-2-xl.jpg);
  background-size:cover;
}

#bck-img2.wrapper-half-right::before {
  background-image: url(../img/image-3-xl.jpg);
  background-size:cover;
}

#bck-img3.wrapper-half-left::before {
  background-image: url(../img/image-4-xl.jpg);
  background-size:cover;
}

// The Makers images
#bck-img4.wrapper-half-left::before {
  background-image: url(../img/image32.jpg);
  background-size:cover;
}

#bck-img5.wrapper-half-right::before {
  background-image: url(../img/image71.jpg);
  background-size:cover;
}

#bck-img6.wrapper-half-left::before {
  background-image: url(../img/image-15-md.jpg);
  background-size:cover;
}

// The Developers images
#bck-img7.wrapper-half-left::before {
  background-image: url(../img/image-22-md.png);
  background-position: center right;
  background-repeat:no-repeat;
  background-size:cover;
}

#bck-img8.wrapper-half-right::before {
  background-image: url(../img/image-23-md.png);
  background-position: center left;
  background-repeat:no-repeat;
  background-size:contain;
}

#bck-img9.wrapper-half-left::before {
  background-image: url(../img/image-24-md.png);
  background-position: center right;
  background-repeat:no-repeat;
  background-size:contain;
}

#bck-img10 {
  background-image: url(../img/hero-screen2.png);
  background-position: center right;
  background-repeat:no-repeat;
  background-size:66%;
}

#bck-img11 {
  background-image: url(../img/hero-screen3.png);
  background-position: center right;
  background-repeat:no-repeat;
  background-size:70%;
}

#bck-img12 {
  background-image: url(../img/hero-screen4.png);
  background-position: center right;
  background-repeat:no-repeat;
  background-size:80%;
}

#bck-img13 {
  background-image: url(../img/hero-screen5.png);
  background-position: 90% 20px;
  background-repeat:no-repeat;
  background-size:40%;
}

#bck-img14 {
  background-image: url(../img/hero-screen6.png);
  background-position: 5% 50%;
  background-repeat:no-repeat;
  background-size:55%;
}

#bck-img15 {
  background-image: url(../img/hero-screen7.png);
  background-position: top left;
  background-repeat:no-repeat;
  background-size:45%;
}

.wrapper-shadow {
  box-shadow: 200px 200px 200px rgba(0,0,0,.2);
}

//////////////////////////////////////
// Wrapper html base element adjustments
//////////////////////////////////////
.wrapper-default hr {
    border-color: darken($default-color, 5%);
}

.wrapper-light hr {
    border-color: darken($light-color, 5%);
}

.wrapper-lighter hr {
    border-color: darken($lighter-color, 5%);
}

.wrapper-accent hr {
    border-color: lighten($accent-color, 5%);
}

.wrapper-contrast hr {
    border-color: lighten($contrast-color, 5%);
}

.wrapper-dark hr {
    border-color: lighten($dark-color, 5%);
}

.wrapper-darker hr {
    border-color: lighten($darker-color, 5%);
}

.wrapper-darkest hr {
    border-color: lighten($darkest-color, 5%);
}

//////////////////////////////////////
// Borders
//////////////////////////////////////
$border-base-size: 1px;
  .border-left.border-default {
    border-left:$border-base-size solid $darkest-color;
  }

  .border-right.border-default {
    border-right:$border-base-size solid $light-color;
  }

  .border-left.border-light {
    border-left:$border-base-size solid $lightest-color;
  }

  .border-right.border-light {
    border-right:$border-base-size solid $lightest-color;
  }

    .border-left.border-accent {
    border-left:$border-base-size solid $accent-color;
  }

  .border-right.border-accent {
    border-right:$border-base-size solid $accent-color;
  }

  .col-border-right {
    border-right:1px solid $lighter-color;
  }

//////////////////////////////////////
// Navbar changes
//////////////////////////////////////
.navbar, .navbar-default {
  border-radius:0px;
  border:none;
}

.navbar-transparent {
  background:none;
}

a.navbar-brand {
  color: $navbar-default-brand-color;
  text-transform: uppercase;
  letter-spacing:.1em;
  font-weight:400;
  font-size:1.2em;
}

.navbar-nav > li > a{
  border-right: 1px solid rgba(255,255,255,0.07);
  border-bottom:1px solid transparent;
  margin-bottom:-1px;
}

.navbar-nav > li > a:hover {
  background-color: $accent-color!important;
}

.navbar-nav > li:first-child > a{
  border-left: 1px solid rgba(255,255,255,0.07);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:transparent;
}
.navbar-nav > li.active > a {
  background-color:none;
  border-bottom:1px solid $accent-color;
}

#footer.wrapper-default .nav a {color:#777;}
#footer.wrapper-default .nav a:hover {color:#000;background:none;}
#footer.wrapper-transparent .nav a {color:#fff;}
#footer.wrapper-transparent .nav a:hover {color:#000;background:none;}
#footer .nav li a{padding:0px;margin:0px;}

//////////////////////////////////////
// Lists and listed extras
//////////////////////////////////////
.list {
  margin:0px;
  padding:0px;
  li {
    list-style:none;
    float:left;
  }
}

.list-blog li {
  margin-right:5%;
  width:30%;
  padding:5%;
}

.list-blog li:last-child {
  margin-right:0%;
}

//////////////////////////////////////
// Promo List
//////////////////////////////////////
ul.promo {
  margin:0px;
  padding:0px;
  li.promo-item {
    margin:0px; 
    padding:0px;
    list-style:none;
    min-height:25vh;
  }
}
//////////////////////////////////////
// Bootstrap Overwrites / Changes
//////////////////////////////////////
.btn-lg {
  text-transform: uppercase;
  font-size:1em;
}

.no-gutter  {
  padding-left:0;
  padding-right:0;
}

//////////////////////////////////////
// Font Awesome Overwrites / Changes
//////////////////////////////////////
.fa-border-circle {
  border: 1px solid $text-color;
  color: $text-color;
  border-radius: 999px;
  min-height: 48px;
  min-width: 48px;
  line-height: 48px;
}

.wrapper-accent .fa-border-circle, .wrapper-darkest .fa-border-circle {
  border: 1px solid $accent-text;
  color: $accent-text;
}

//////////////////////////////////////
// Form changes/overwrites
//////////////////////////////////////
.form-outline{
  .form-control {
    background:none;
    border:1px solid $text-color;
  }
}

label {
  font-weight:400;
}

//////////////////////////////////////
// Image effects
//////////////////////////////////////
.fx-blur{
 -webkit-filter: blur(3px);
  filter: blur(3px);
  overflow:hidden;
}

.fx-unblur {
   -webkit-filter: blur(0px);
  filter: blur(0px);
}

.fx-bw { 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

//////////////////////////////////////
// Slider controls
//////////////////////////////////////
// pulls the dots "above" the background

.owl-dots {
  margin-top:-50px;
  z-index: 20;
  position: absolute;
  text-align:center;
  width:auto;
  left:50%;
  transform: translate3d(50%, -50%, 0px);
}

.owl-dot{
  border:1px solid #fff;
  width:10px;
  height:10px;
  display: inline-block;
  border-radius:999px;
  margin:5px;
}

.owl-dots .owl-dot.active, .owl-dots .owl-dot:hover{
  background-color:#fff;
}

//////////////////////////////////////
// Overlays
//////////////////////////////////////
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay.overlay-dark {
  background-color: rgba(0,0,0,.33);
}

.overlay.overlay-darker {
  background-color: rgba(0,0,0,.5);
}

.overlay.overlay-gray{
  background-color: rgba(48,48,48,.33);
}

.overlay.overlay-darkest {
  background-color: rgba(0,0,0,.75);
}

.overlay.overlay-light {
  background-color: rgba(255,255,255,.3);
}

a.overlay:hover {
    background-color: rgba(255,255,255,.5);
      -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:.5;
}

//////////////////////////////////////
// Magic stuff
//////////////////////////////////////
.v-align{
    position: relative;
    transform: translate3d(0px, -50%, 0px);
    top: 50%;
    z-index: 2;
}

.v-align-middle {
  vertical-align: middle;
  display: table-cell;
}

a.img-link:hover img {
  opacity:.5;
}

//////////////////////////////////////
// Animations and Transitions
//////////////////////////////////////
a, .btn, img {
    transition: all 0.5s ease-in-out 0s;
}

.mouse_scroll {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  z-index:99;
  color:#fff;
  position: absolute;
  bottom: 40px;
  margin: 0px auto;
  width: 100%;
  display: block;
  text-align: center;
}

.hero-clouds {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-size:cover;
  width: 7200px;
  height:800px;
  animation: 100s linear 0s normal none infinite running cloudLoop;
  animation-duration: 160s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: cloudLoop;
}

@-webkit-keyframes cloudLoop{
  0%{
    -webkit-transform:translate3d(-20%,0,0);
    transform:translate3d(-20%,0,0)
  }

  100%{
    -webkit-transform:translate3d(50%,0,0);
    transform:translate3d(50%,0,0)
  }
}

@keyframes cloudLoop{
  0%{
    -webkit-transform:translate3d(-20%,0,0);
    transform:translate3d(-20%,0,0)
  }

  100%{
    -webkit-transform:translate3d(50%,0,0);
    transform:translate3d(50%,0,0)
  }
}

//////////////////////////////////////
// Special Positions and helper classes
//////////////////////////////////////
.bottom-left {
  position:absolute; 
  left:($grid-gutter-width/2);
  bottom:($grid-gutter-width/2);
}

.pull-top {
  margin-top: -($grid-gutter-width/2)
}

//////////////////////////////////////
// Gradients
//////////////////////////////////////

.wrapper-gradient {
  background: transparent radial-gradient(circle farthest-side at right bottom , #ff9e4f 5%, #ec5d2f 25%, #dd5124 80%, #a32800 98%) repeat scroll 0% 0%;      
}

.wrapper-gradient2 {
  background: transparent radial-gradient(circle farthest-side at right bottom , #ae98cf 5%, #5A4080 50%, #190a2e 95%) repeat scroll 0% 0%;      
}

.wrapper-gradient3 {
  background: transparent radial-gradient(circle farthest-side at right bottom , rgba(0,0,0,.03) 5%, rgba(0,0,0,.0) 50%, rgba(0,0,0,.1) 95%) repeat scroll 0% 0%;      
}

        
