

body {
	background-color: black;
}

div#titlediv {
	color: white;
	font-family: 'Arial';
	margin-left: 10px;
	margin-bottom: 10px;
}

/*Bars Viz Canvas*/

svg#canvas {
}


rect.bars {
	fill: rgb(73, 121, 107);
}

text.barlabels {
	alignment-baseline: before-edge;
	font-family: 'Arial';
	font-size: 12px;
	fill: white;
	opacity: 0.9;
}



/*Bars Viz Axis, g element lets us target anything 
within the xaxis class*/


.xaxis path,
.xaxis line {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}

.xaxis text {
	fill: white;
	font-family: 'Arial';
	font-size: 12px;
}

